.footer {
    padding-bottom: rem(40);
    color: #EBE6E1;
    width: 100%;
    align-self: flex-end;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(40);
}

.footer__logo {
    width: rem(337);
}

.footer__title {
    font-family: 'Druk Text Cyr';
    font-weight: 500;
    font-size: rem(86);
    line-height: 105%;
    text-transform: uppercase;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.copyright {
    font-size: rem(20);
    line-height: 135%;
}

.footer__links {
    display: flex;
    a {
        color: #EBE6E1;
        margin-right: rem(24);
        font-size: rem(20);
        line-height: 135%;
        &:last-child {
            margin-right: 0px;
        }
        span {
            color: #F36318;
        }
    }
}