// default theme
$dflt-txt-clr: #ebe6e1;
$dflt-bg: #0a0a0a;
$brand-orange: #f36318;
$text-black: #000;

:root {
  --dflt-txt-clr: #ebe6e1;
  --dflt-bg: #0a0a0a;
  --brand-orange: #f36318;
  --text-black: #000;
}
